[submodule "vim/bundle/ctrpl"]
	path = vim/bundle/ctrpl
	url = git://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
